<div class='ripple-body'>
    {{> templates/partials/images }}

    <div class='gs-container'>
        <div class='ripple-body__inner ripple-body--1 ripple-content' data-section='1'>
            <div class='ripple-body__person ripple-body__person--1' data-person='1'>
                <h2 class='ripple-body__title'>Name of person <span>Job title or description here</span></h2>
                <p>Sed pharetra, metus non tincidunt ultricies, est dolor volutpat est, ac pellentesque mauris lacus eget erat. Praesent quis fringilla metus. Quisque blandit pulvinar ipsum, vitae blandit ex scelerisque non. Praesent sit amet tempus odio, sit amet rhoncus diam. Quisque iaculis lacus ac odio ullamcorper tincidunt. Integer at mi turpis. Curabitur aliquam mi metus, non accumsan nulla porttitor in. Pellentesque cursus dictum nibh, eu sodales nisl vulputate eu. Curabitur eleifend vehicula feugiat.</p>

                <p>Phasellus a sapien sed leo placerat pulvinar nec quis urna. Integer aliquam ex id dui commodo, a mattis felis sodales. Nullam ligula massa, elementum sed elit sed, molestie pharetra felis. Duis faucibus tempor mi, sit amet pharetra quam lacinia sed. In lacinia leo augue, ac varius magna finibus eu. Praesent gravida posuere sem.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac placerat nisl. Mauris vitae semper enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce at ultrices nisl. Morbi elementum justo odio, non fermentum nulla efficitur in. Vivamus vel nibh in ex ornare pretium sit amet sodales ex. Duis eu diam a nulla aliquam interdum. Aliquam sollicitudin dolor metus, id egestas felis dictum quis.</p>
            </div>

            <div class='ripple-body__person ripple-body__person--2' data-person='2'>
                <h2 class='ripple-body__title'>Name of person <span>Job title or description here</span></h2>
                <p>Sed pharetra, metus non tincidunt ultricies, est dolor volutpat est, ac pellentesque mauris lacus eget erat. Praesent quis fringilla metus. Quisque blandit pulvinar ipsum, vitae blandit ex scelerisque non. Praesent sit amet tempus odio, sit amet rhoncus diam. Quisque iaculis lacus ac odio ullamcorper tincidunt. Integer at mi turpis. Curabitur aliquam mi metus, non accumsan nulla porttitor in. Pellentesque cursus dictum nibh, eu sodales nisl vulputate eu. Curabitur eleifend vehicula feugiat.</p>
            </div>

            <div class='ripple-body__person ripple-body__person--3' data-person='3'>
                <h2 class='ripple-body__title'>Name of person <span>Job title or description here</span></h2>
                <p>Sed pharetra, metus non tincidunt ultricies, est dolor volutpat est, ac pellentesque mauris lacus eget erat. Praesent quis fringilla metus. Quisque blandit pulvinar ipsum, vitae blandit ex scelerisque non. Praesent sit amet tempus odio, sit amet rhoncus diam. Quisque iaculis lacus ac odio ullamcorper tincidunt. Integer at mi turpis. Curabitur aliquam mi metus, non accumsan nulla porttitor in. Pellentesque cursus dictum nibh, eu sodales nisl vulputate eu. Curabitur eleifend vehicula feugiat.</p>
            </div>
        </div>

        <div class='ripple-body__inner ripple-body--1 ripple-content' data-section='2'>
            <div class='ripple-body__person ripple-body__person--1' data-person='1'>
                <h2 class='ripple-body__title'>Name of person <span>Job title or description here</span></h2>
                <p>Sed pharetra, metus non tincidunt ultricies, est dolor volutpat est, ac pellentesque mauris lacus eget erat. Praesent quis fringilla metus. Quisque blandit pulvinar ipsum, vitae blandit ex scelerisque non. Praesent sit amet tempus odio, sit amet rhoncus diam. Quisque iaculis lacus ac odio ullamcorper tincidunt. Integer at mi turpis. Curabitur aliquam mi metus, non accumsan nulla porttitor in. Pellentesque cursus dictum nibh, eu sodales nisl vulputate eu. Curabitur eleifend vehicula feugiat.</p>

                <p>Phasellus a sapien sed leo placerat pulvinar nec quis urna. Integer aliquam ex id dui commodo, a mattis felis sodales. Nullam ligula massa, elementum sed elit sed, molestie pharetra felis. Duis faucibus tempor mi, sit amet pharetra quam lacinia sed. In lacinia leo augue, ac varius magna finibus eu. Praesent gravida posuere sem.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac placerat nisl. Mauris vitae semper enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce at ultrices nisl. Morbi elementum justo odio, non fermentum nulla efficitur in. Vivamus vel nibh in ex ornare pretium sit amet sodales ex. Duis eu diam a nulla aliquam interdum. Aliquam sollicitudin dolor metus, id egestas felis dictum quis.</p>
            </div>

            <div class='ripple-body__person ripple-body__person--2' data-person='2'>
                <h2 class='ripple-body__title'>Name of person <span>Job title or description here</span></h2>
                <p>Sed pharetra, metus non tincidunt ultricies, est dolor volutpat est, ac pellentesque mauris lacus eget erat. Praesent quis fringilla metus. Quisque blandit pulvinar ipsum, vitae blandit ex scelerisque non. Praesent sit amet tempus odio, sit amet rhoncus diam. Quisque iaculis lacus ac odio ullamcorper tincidunt. Integer at mi turpis. Curabitur aliquam mi metus, non accumsan nulla porttitor in. Pellentesque cursus dictum nibh, eu sodales nisl vulputate eu. Curabitur eleifend vehicula feugiat.</p>
            </div>

            <div class='ripple-body__person ripple-body__person--3' data-person='3'>
                <h2 class='ripple-body__title'>Name of person <span>Job title or description here</span></h2>
                <p>Sed pharetra, metus non tincidunt ultricies, est dolor volutpat est, ac pellentesque mauris lacus eget erat. Praesent quis fringilla metus. Quisque blandit pulvinar ipsum, vitae blandit ex scelerisque non. Praesent sit amet tempus odio, sit amet rhoncus diam. Quisque iaculis lacus ac odio ullamcorper tincidunt. Integer at mi turpis. Curabitur aliquam mi metus, non accumsan nulla porttitor in. Pellentesque cursus dictum nibh, eu sodales nisl vulputate eu. Curabitur eleifend vehicula feugiat.</p>
            </div>
        </div>
    </div>
</div>
