<div class='ripple-chat ripple-chat--{{ side }} {{#if group}}ripple-chat--group{{/if}}'>
    <div class='text-chat__bubble text-chat__bubble--empty'>
        <span class='text-chat__dot text-chat__dot--1'>&bull;</span>
        <span class='text-chat__dot text-chat__dot--2'>&bull;</span>
        <span class='text-chat__dot text-chat__dot--3'>&bull;</span>
    </div>
    <div class='text-chat__bubble text-chat__bubble--copy'>
        <span class='ripple-chat__sender'>{{ name }}</span>
        <span class='ripple-chat__message'>{{ message }}</span>
    </div>
</div>