<div class='ripple-header'>
    <div class='gs-container'>
        <div class='ripple-header__content'>
            <h1 class='ripple-header__headline'>
                <span class='ripple-header__the'>The</span>
                <span class='ripple-header__ripple'>Ripple</span>
                <span class='ripple-header__effect'>Effect</span>
            </h1>
            <div class='ripple-header__byline'>by <a>Byline byline</a> and <a>Byline byline</a></div>
            <div class='ripple-header__animation'>
                <div class='ripple-header__circle ripple-header__circle--1'></div>
                <div class='ripple-header__circle ripple-header__circle--2'></div>
                <div class='ripple-header__circle ripple-header__circle--3'></div>
                <div class='ripple-header__circle ripple-header__circle--4'></div>
                <div class='ripple-header__circle ripple-header__circle--5'></div>
            </div>
        </div>
    </div>
</div>

