<div class='ripple-images'>
    <img src='@@assetPath@@/assets/images/cutout.png' class='ripple-images__image ripple-images__image--1-1' />
    <img src='@@assetPath@@/assets/images/cutout.png' class='ripple-images__image ripple-images__image--1-2' />
    <img src='@@assetPath@@/assets/images/cutout.png' class='ripple-images__image ripple-images__image--1-3' />

    <img src='@@assetPath@@/assets/images/cutout.png' class='ripple-images__image ripple-images__image--2-1' />
    <img src='@@assetPath@@/assets/images/cutout.png' class='ripple-images__image ripple-images__image--2-2' />
    <img src='@@assetPath@@/assets/images/cutout.png' class='ripple-images__image ripple-images__image--2-3' />
</div>