<div class='ripple-intro'>
    <div class='gs-container'>
        <div class='ripple-content'>
            <h2 class='ripple-intro__standfirst'>A standfirst standfirst In publishing and graphic design, lorem ipsum is a filler text or greeking commonly used to demonstrate the textual elements of a graphic document or visual presentation.</h2>
            <div class='ripple-intro__intro'>
                <p><span class='ripple-intro__drop-cap'><span class='ripple-intro__drop-cap-inner'>L</span></span>orem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac placerat nisl. Mauris vitae semper enim. Vestibulum ante ipsum primis  in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce at ultrices  nisl. Morbi elementum justo odio, non fermentum nulla efficitur in. Vivamus vel nibh in ex ornare pretium sit amet sodales ex. Duis eu diam a nulla aliquam interdum. Aliquam sollicitudin dolor metus, id egestas felis dictum quis.</p>

                <p>Sed pharetra, metus non tincidunt ultricies, est dolor volutpat est, ac pellentesque mauris lacus eget erat. Praesent quis fringilla metus. Quisque blandit pulvinar ipsum, vitae blandit ex scelerisque non. Praesent sit amet tempus odio, sit amet rhoncus diam. Quisque iaculis lacus ac odio ullamcorper tincidunt. Integer at mi turpis. Curabitur aliquam mi metus, non accumsan nulla porttitor in. Pellentesque cursus dictum nibh, eu sodales nisl vulputate eu. Curabitur eleifend vehicula feugiat.</p>

                <p>Phasellus a sapien sed leo placerat pulvinar nec quis urna. Integer aliquam ex id dui commodo, a mattis felis sodales. Nullam ligula massa, elementum sed elit sed, molestie pharetra felis. Duis faucibus tempor mi, sit amet pharetra quam lacinia sed. In lacinia leo augue, ac varius magna finibus eu. Praesent gravida posuere sem.</p>
            </div>
        </div>
    </div>
</div>
