.ripple {
    overflow: hidden;
    background-color: $c-black;
    color: $c-white;
}

.ripple-content {
    position: relative;
    max-width: 620px;

    @include mq(leftCol) {
        margin-left: 220px;
    }

    &:before {
        @include mq(leftCol) {
            content: '';
            position: absolute;
            top: 0;
            bottom: -12px;
            left: -10px;
            width: 1px;
            background-color: mix($c-black, $c-white, 90%);
        }
    }
}