.ripple-body__inner {
    position: relative;
    z-index: 5;
    padding: 0 0 12px;

    p {
        font-family: 'Guardian Text Egyptian Web';
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 18px;
        margin-top: 0;
    }
}

.ripple-body__title {
    font-family: 'Guardian Egyptian Web';
    font-size: 20px;
    line-height: 1.1;

    @include mq(desktop) {
        font-size: 24px;
    }

    span {
        color: $c-red;
        font-style: italic;
        display: block;
    }
}

.ripple-body__person {
    margin-bottom: 120px;
}