.ripple-header__content {
    position: relative;
    width: 280px;
    height: 280px;
    margin: 0 auto;

    @include mq(400px) {
        height: 400px;
        width: 400px;
    }

    @include mq(desktop) {
        margin-left: 10px;
    }
}

.ripple-header__headline {
    font-family: 'Guardian Egyptian Web';
    font-weight: bold;
    font-size: 65px;
    line-height: 1;
    text-align: center;
    margin: 0;

    @include mq(400px) {
        font-size: 100px;
    }
}

.ripple-header__ripple {
    margin-top: -0.1em;
    display: block;
    margin-bottom: .1em;
}

.ripple-header__byline {
    font-family: 'Guardian Egyptian Web';
    font-size: 20px;
    line-height: 1.2;
    font-style: italic;
    color: $c-red;
    text-align: center;
    max-width: 240px;
    margin: 0 auto;

    a {
        font-weight: bold;
        font-style: normal;
        color: $c-red;
    }
}

.ripple-header__animation {
    position: absolute;
    z-index: 5;
    top: -100px;
    left: -80px;
    right: -80px;
    bottom: -60px;

    @include mq(400px) {
        top: -150px;
        left: -120px;
        right: -120px;
        bottom: -70px;
    }
}

@keyframes ripple {
    0% {
        transform: scale(.65);
        opacity: 0;
    }
    10%, 20% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.ripple-header__circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 1px solid $c-white;
    animation: ripple 3s linear infinite;
}

.ripple-header__circle--1 {
    animation-delay: -.6s;
}

.ripple-header__circle--2 {
    animation-delay: -1.2s;
}

.ripple-header__circle--3 {
    animation-delay: -1.8s;
}

.ripple-header__circle--4 {
    animation-delay: -2.4s;
}

.ripple-header__circle--5 {
    animation-delay: -3s;
}